body{margin:0; padding:0; font-size:13px; font-family:Georgia, "Times New Roman", Times, serif; color:#919191; background-color:#232323;}

.clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
.clear{display:block; clear:both;}
html[xmlns] .clear{display:block;}
* html .clear{height:1%;}


.fl_left{float:left;}
.fl_right{float:right;}

img{margin:0; padding:0; border:none; line-height:normal; vertical-align:middle;}


div.wrapper{display:block; width:100%; margin:0; padding:0; text-align:left;}

.row1, .row1 a{color:#C0BAB6; background-color:#333333;}
.row2{color:#979797; background-color:#FFFFFF;}
.row2 a{color:#FF9900; background-color:#FFFFFF;}

/*----------------------------------------------General-------------------------------------*/

#header, #container, #footer{display:block; width:960px; margin:0 auto;}

h1, h2, h3, h4, h5, h6{margin:0; padding:0; font-size:16px; font-weight:bold; font-style:normal; line-height:normal; text-transform:uppercase;}


.one_quarter{display:block; float:left; margin:0 20px 0 0;}
.one_quarter{width:225px;}

.one_third, .two_third, .three_third{display:block; float:left; margin:0 30px 0 0;}
.one_third{width:300px;}

/*----------------------------------------------Header-------------------------------------*/

#header{padding:20px 0;}

#header #hgroup{float:left; margin:0 0 20px 0;}
#header #hgroup h1, #header #hgroup h2{font-weight:normal; text-transform:none; color: #FFFFFF;}
#header #hgroup h1{font-size:36px;}
#header #hgroup h2{font-size:13px;}


/*---------------------------------------------- contenu-------------------------------------*/

#container{padding:30px 0;}
#container section{display:block; width:100%; margin:0 0 30px 0; padding:0;}
#container .more{text-align:right;}
#container h1{color: #2a2a2a; font-size: 20px; margin-bottom: 20px}

/* ------Slider-----*/

#container #slider{margin-bottom:50px;}
#container #slider-article img{margin-bottom:50px; align-items: center;}
/* ------page-d-accueil-----*/

#container #page-d-accueil{display:block; width:100%; line-height:1.6em;}

#container #page-d-accueil #apercu-article{padding:0 0 30px 0; border-bottom:1px solid #DEDEDE;}
#container #page-d-accueil #apercu-article p{display:block; margin:0; padding:5px 0 0 0; clear:both; line-height:1.6em;}
#container #page-d-accueil #apercu-article h3{color: rgb(36, 36, 36)}
/* ------Contenu-----*/

#container #content{float:left; width:630px; line-height:1.6em;}
button{padding: 20px 50px; margin-left: 40%;}
/*----------------------------------------------Footer-------------------------------------*/

#footer{padding:20px 0;}
#footer p{margin:0; padding:0;}